
@import '@astryxdesign/core/reset.css';
@import '@astryxdesign/core/astryx.css';

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100svh;
}

body {
  margin: 0;
}

.todo-card {
  align-items: center;
  column-gap: var(--spacing-3);
  display: grid;
  grid-template-columns: max-content minmax(0, 1fr) max-content;
  grid-template-rows: auto auto;
  row-gap: var(--spacing-2);
}

.todo-card-checkbox {
  grid-column: 1;
  grid-row: 1;
}

.todo-card-title {
  grid-column: 2;
  grid-row: 1;
}

.todo-card-edit {
  grid-column: 2 / 4;
  grid-row: 1;
}

.todo-card-actions {
  grid-column: 3;
  grid-row: 1;
  justify-self: end;
}

.todo-card-metadata {
  grid-column: 2 / 4;
  grid-row: 2;
}
